
* {
  font-family: "Montserrat", sans-serif;
  background-color: #232323;
  color: #EDD9A8;
}
header h1, .wasmCheck {
  display: inline
}
#editor {
  display: flex;
  flex-direction: row;
  border: 3px #67594E inset;
  padding: 20px;
}
#c {
  border: 3px #67594E inset;
}
#filters {
  width: 200px;
  height: 480px;
  overflow: scroll;
  padding-left: 5px;
  border: 1px white solid;
}
#controls, #timing {
  display: flex;
  justify-content: space-between;
  width: 725px;
}

#jsButton, #jsCanvas {
  margin-top: 10px;
  margin-right: 3px;
  font-size: 20px;
}
#playButton, #rewind, #fastForward, #loopButton {
  margin-top: 3px;
  border: 2px solid;
  height: 64px;
}
#slowButton, #fastButton {
  border: 2px solid;
}

#vidTime {
  margin-top: 0px;
  font-size: 48px;
}

#middle-col {
  margin-left: 10px;
  margin-right: 10px;
}


#duration, #slowButton, #fastButton {
  margin-bottom: 10px;
  display: block;
}
#statsContainer {
  width: 400px;
  margin: 5px;
  border: 1px white solid;
  padding: 5px;
}
#statsContainer h2 {

}
#statsCanvas {
  display: block;
}
.indFilter {
  width: 100%;
}
.indFilter:hover {
  cursor: pointer;
  background-color: #8E3C47;
}
.selectedFilter {
  background-color: #8E3C47;
}
.header {
  display: inline;
}


