
* {
  font-family: "Verdana", sans-serif;
  color: darkslategrey;
  background-color: #EEE;
}

.wasmTxt {
  color: green;
}

.jsTxt {
  color: blue;
}

#buttons {
  position: absolute;
  top: 75px;
  left: 750px;
  width: 100;
}

#buttons button, #jsButton {
  color: white;
  background-color: silver;
  border: none;
  width: 120;
  height: 20;
  padding: 10, 0, 10, 0;
  margin-top: 5px;
}

#buttons button:hover {
  background-color: darkslategray;
}

#jsButton:hover {
  background-color: red;
}
